.App {
  text-align: center;
}

h1 {
  font-size: 36px;
}

p { 
  font-size: 28px;
}

.logo {
  size: 100px;
  margin-top: 20px;
}

.transaction-input-field, .numeric-field{
  font-family: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace!important;
}

.error-message {
  color: #FF0000;
}

#transactions {
  /* background-color: black; */
  align-content: center;
}



.tabs {
}

